In [12]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('item.csv')

# Replace null values in quantity column with mean
df['quantity'].fillna(df['quantity'].mean(), inplace=True)
df

# Replace null values in price column with median
df['price'].fillna(df['price'].median(), inplace=True)

# Replace null values in bought column with standard deviation
df['bought'].fillna(df['bought'].std(), inplace=True)

# Replace null values in forenoon column with minimum
df['forenoon'].fillna(df['forenoon'].min(), inplace=True)

# Replace null values in afternoon column with maximum
df['afternoon'].fillna(df['afternoon'].max(), inplace=True)

df

   id    item  quantity  price      bought  forenoon  afternoon
0   1    milk     2.000   37.0  672.000000     456.0      567.0
1   2   sugar     3.000   56.0  500.000000     234.0      567.0
2   3   chips     2.625   34.0  234.000000     322.0      567.0
3   4  coffee     4.000   57.0  435.000000     546.0      567.0
4   5    meat     2.000  125.0   25.000000     221.0      567.0
5   6  chocos     1.000   56.0   65.000000     221.0      213.0
6   7   juice     7.000   55.0  785.000000     221.0      322.0
7   8     jam     2.625   67.0  655.000000     221.0      333.0
8   9   bread     1.000   56.0  286.658053     221.0      567.0
9  10  butter     1.000   56.0  286.658053     221.0      322.0